.page {
    .heading {
      font-size: 32px;
      font-weight: bold;
  
      margin-top: 10px;
      margin-bottom: 30px;
    }
  
    .info {
      margin-bottom: 60px;
  
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  
  
      .identity {
        margin-left: 50px;
        margin-top: 10px;
  
        .name {
          font-size: 30px;
        }
  
        .address {
          font-size: 18px;
  
          margin-top: 10px;
        }
      }
    }
  }
  
  .comment{
    margin-bottom: 15px;
    cursor: pointer;
  }